.app {
  width: 100%;
  height: 100%;
  min-height: unset;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  overflow: hidden;
  box-sizing: border-box;
}

.app > * {
  min-height: 0;
}

.app h1 {
  display: none;
}

.subtitle {
  display: none;
}
